<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AccountingApp.Properties.Settings.GestiuneConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Gestiune.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GestiuneEntities" connectionString="metadata=res://*/GestiuneModel.csdl|res://*/GestiuneModel.ssdl|res://*/GestiuneModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7HETJDN\SQLEXPRESS01;initial catalog=Gestiune3.0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/GestiuneDBEntities.csdl|res://*/GestiuneDBEntities.ssdl|res://*/GestiuneDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7HETJDN\SQLEXPRESS01;initial catalog=Gestiune3.0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/GestiuneDBEntities.csdl|res://*/GestiuneDBEntities.ssdl|res://*/GestiuneDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7HETJDN\SQLEXPRESS01;initial catalog=Gestiune3.0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GestiuneDBEntities" connectionString="metadata=res://*/GestiuneDBEntities.csdl|res://*/GestiuneDBEntities.ssdl|res://*/GestiuneDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7HETJDN\SQLEXPRESS01;initial catalog=Gestiune3.0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AccountingApp.Properties.Settings.Gestiune3_0ConnectionString"
      connectionString="Data Source=DESKTOP-7HETJDN\SQLEXPRESS01;Initial Catalog=Gestiune3.0;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>